body {
  margin: 10px;
}

.container {
  width: 300px;
  min-height: 300px;
  background-color: #f3f3f3;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  overflow: hidden;
  margin: 10px;
  display: inline-block;
}

.topbar-apr {
  background-color: #fefced;
  height: 25px;
  margin: 0px;
  padding: 5px;
  padding-top: 10px;
  width: calc(100% - 10px);
  margin-bottom: 10px;
}

.apr-classification-container {
  background-color: #4bc24a;
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 5px;
  margin-top: 3px;
  border-radius: 2px;
}

.apr-no {
  font-size: 13px;
  margin-left: 10px;
}

.body-apr {
  font-size: 13px;
  width: calc(100% - 10px);
  padding: 5px;
}
.body-apr p {
  margin: 0px;
  margin-top: 10px;
}

.searchbar {
  height: 30px;
  padding: 5px;
  background-color: #403e3f;
  border-radius: 20px;
}

.search-input-con {
  width: 250px;
  height: 30px;
  overflow: hidden;
  border-radius: 25px;
  background-color: white;
  display: inline-block;
}

.search-new-form-button {
  background-color: #625e5e;
  height: 100%;
  border: 0px;
  color: white;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
  padding: 0px 10px;
}

.search-input {
  width: 200px;
  height: 28px;
  border: 0px;
  font-weight: bold;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px 0px 0px 25px;
}

.search-button {
  background: white;
  border: 0px;
  width: 20px;
  height: 28px;
  border-radius: 0px 25px 25px 0px;
}

input:focus {
  outline: none;
}

#login-container {
  width: 250px;
  height: 200px;
  padding: 10px;
  border: 1px solid #ebebeb;
}

.basic-input {
  width: calc(100% - 30px);
  margin: 5px;
  padding: 5px 10px;
  margin-bottom: 0px;
  border: 1px solid #ebebeb;
  height: 25px;
  border-radius: 3px;
}

.right {
  float: right;
}

.green-button {
    background-color: #4bc24a;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    margin-top: 3px;
    border-radius: 2px;
    border: 0px;
    margin-right: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.green-button:hover {
  background-color: #0bc24a;
}

.main-con {
  height: 100%;
}

.body-con {
  height: 100%;
}

.filter-con {
  display: inline-block;
  width: 250px; 
  height: calc(100% - 10px);
  margin-top: 10px;
}

.user-bar {
  height: 40px;
}

.user-bar-logo {
  display: inline-block;
  width: 100px;
  height: calc(100% - 5px);
  margin-left: 10px;
}

.user-bar-right {
  text-align: right;
  float: right;
  display: inline-block;
}

.user-detail, .menu-con {
  display: inline-block;
  height: calc(100% - 15px);
  margin-right: 10px;
}

.user-detail {
  border-left: 1px solid lightgrey;
  padding-left: 10px;
}

.left-bar-con {
  width: 100%;
  min-height: 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  overflow: hidden;
}

.left-bar-top {
  background-color: #e8e6d7;
  font-size: 11px;
  width: calc(100% - 10px);
  padding: 5px;
  font-weight: bold;
}

.filter-unit {
  
}

.filter-unit-title {
  width: calc(100% - 10px);
  color: #a95f66;
  font-weight: bold;
  font-size: 11px;
  margin: 5px 0px;
  padding: 5px;
  border-bottom: 1px solid lightgrey;
}

.filter-elem {
  font-size: 13px;
  margin-top: 3px;
}

.filter-elem p {
  margin: 0px;
}

.filter-elem-title {
  font-size: 11px;
  margin: 10px 5px;
  display: inline-block;
  vertical-align: top;
}

.filter-list {
  margin: 10px;
}

.filter-list-item {
  background-color: grey;
  font-size: 12px;
  background-color: #f3f3f3;
  border: 1px solid #ebebeb;
  padding: 3px;
  border-radius: 2px;
  margin-right: 5px;
}

.form-input {
  width: calc(100% - 20px);
  margin: 2px 5px;
}

