body {
  margin: 10px;
}

.container {
  width: 300px;
  min-height: 300px;
  background-color: #f3f3f3;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  overflow: hidden;
}

.topbar-apr {
  background-color: #fefced;
  height: 30px;
  margin: 0px;
  padding: 5px;
  width: calc(100% - 10px);
}