body {
  margin: 10px;
}

.container {
  width: 300px;
  min-height: 300px;
  background-color: #f3f3f3;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  overflow: hidden;
  margin: 10px;
  display: inline-block;
}

.topbar-apr {
  background-color: #fefced;
  height: 25px;
  margin: 0px;
  padding: 5px;
  padding-top: 10px;
  width: calc(100% - 10px);
  margin-bottom: 10px;
}

.apr-classification-container {
  background-color: #4bc24a;
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 5px;
  margin-top: 3px;
  border-radius: 2px;
}

.apr-no {
  font-size: 13px;
  margin-left: 10px;
}

.body-apr {
  font-size: 13px;
  width: calc(100% - 10px);
  padding: 5px;
}
.body-apr p {
  margin: 0px;
  margin-top: 10px;
}

.searchbar {
  height: 30px;
  padding: 5px;
  background-color: #403e3f;
  border-radius: 20px;
}

.search-input {
  width: 200px;
  height: 28px;
  border-radius: 20px;
  border: 0px;
  font-weight: bold;
  margin: 0px;
}

